<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>      <div class="form-group">
      <%= f.email_field :email, autofocus: false, placeholder: "E-mail Address",autocomplete: "email", class: "form-control" %>
          </div> <!-- form-group// -->
          <div class="form-group">
			<%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control"%>
          </div> <!-- form-group// -->

          <div class="form-group">
          	<%= link_to "Forgot Password", new_user_password_path, class: "float-right" %>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
                <%= f.submit "Log in", class: "btn btn-primary btn-block"%>
          </div> <!-- form-group// -->
      <% end %>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
     <p class="text-center mt-4">Don't have account? <%=link_to "Sign up", new_user_registration_path%></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>