<%= render '/shared/navbar'%>
<%= render '/shared/sidenav'%>
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
              <span class="mr-md-auto"><%= @count %> Shoes found.</span>
              <span class="mr-md-auto">You have visited this page for <%= pluralize visit_count, 'time' %>.</span>

              <%= form_for @products, url: products_path, method: :get do |f| %>
              <select class="mr-2 form-control">
                <option>Latest items</option>
                <option></option>
                <option>Most Popular</option>
                <option>Cheapest</option>
              </select>
              <%end%>
            </div>

        </header><!-- sect-heading -->
        <div class="row">
          <% @product_searhced.each do |product| %>
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <span class="badge badge-danger <%='d-none' if not DateTime.current.to_s(:time).to_i - product.updated_at.to_s(:time).to_i < 1%>"> NEW </span>
                <% if product.image.present? %>
                <%= image_tag product.image, :class => "style_image"%>
                <% end %>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> <%= link_to "Quick View", product %></a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="#" class="title"><%= link_to product.name, product %></a>
                  <div class="price-wrap mt-2">
                    <span class="price">$<%=product.price%></span>
                    <del class="price-old">$1980</del>
                  </div> <!-- price-wrap.// -->
                </div>
                <% if cart.include?(product) %>
                    <%= button_to cart_path(product), method: :delete, class: 'btn btn-block btn-danger' do%>
                      Remove from the Cart
                    <%end%>
                <% else %>
                  <%= form_with url: cart_index_path, method: :post do %>
                  <%= hidden_field_tag(:id, product.id)%>
                  <%= button_tag 'Add to Cart', class: 'btn btn-block btn-primary'%>
                  <% end %>
                <% end %>
              </figcaption>
            </figure>
          </div> <!-- col.// -->
          <% end %>
        </div> <!-- row end.// -->
        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">

            <li class="page-item"><%= link_to "Previous Page", products_path(page: @page - 1), class: "page-link" %></li>
            <li class="page-item"><%= link_to "Next Page", products_path(page: @page + 1), class: "page-link" %> </li>
          </ul>
        </nav>
      </main> <!-- col.// -->
<%= render 'shared/sidenav_end'%>
